
<div class="login">

<% if flash[:error] %>
<p><%= flash[:error] %></p>
<% end %>

<%= form_for :session, url: login_path do |f| %>
   
      <%= f.label :username %>
      <%= f.text_field :username %>
<br>
        <%= f.label :password %>
        <%= f.password_field :password %>
   <br>
    <%= f.submit "Log in", class: "btn btn-primary btn-block btn-large"%>
    
    
  <% end %>
  </div>


