<h3> Your Workouts </h3>
<br>
<% @workouts.each do |gw| %>
    <%= gw.workout.name %>
    <li>Description: <%= gw.workout.description %> </li>
    <li>Details: <%= gw.workout.detail %> </li>
    <li><img src="<%= gw.workout.image %>" /></li>
    <li><%= link_to "Workouts and Correct Form", gw.workout.video, :target => "_blank" %> </li>
    <br>
    <%end%>

 

