<h3> Your Workouts </h3>
<br>
<% @workouts.each do |gw| %>
    <%= gw.workout.name %>
    <li>Description: <%= gw.workout.description %> </li>
    <li>Details: <%= gw.workout.detail %> </li>
    <li><%= image_tag gw.workout.image %></li>
    <li><%= link_to "Workouts and Correct Form", gw.workout.video %> </li>
    <br>
    <%end%>


