  <h1>Sign Up</h1>

  <% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end%>
  </ul>
  <% end%>

  <%= form_for @user do |f| %>
    
      <%= f.label :username  %>
      <%= f.text_field :username  %>
   <br>
      <%= f.label :password  %>
      <%= f.password_field :password  %>
    <br>
      <%= f.label :first_name  %>
      <%= f.text_field :first_name  %>
    <br>
      <%= f.label :last_name  %>
      <%= f.text_field :last_name  %>
    <br>
      <%= f.label :age  %>
      <%= f.number_field :age  %>
    <br>
      <%= f.label :height  %>
      <%= f.number_field :height  %>
    <br>
      <%= f.label :weight  %>
      <%= f.number_field :weight  %>
    <br>
      <%= f.label :Male  %>
      <%= f.radio_button :gender, 'Male'  %>
      <%= f.label :Female  %>
      <%= f.radio_button :gender, 'Female'  %>
    <br>
      <%= f.label :activity  %>
      <%= f.select :activity, ['Sedentary', 'Lightly Active', 'Moderately Active', 'Very Active', 'Extremely Active'], :prompt => 'Select One' %>
    <br>
      <%= f.label :goal_id %>
      <%= f.collection_select :goal_id, @goals, :id, :name  %>
    <br>
      <%= f.hidden_field :image, value: "https://cdn.onlinewebfonts.com/svg/img_534267.png" %>

    
    <%= f.submit %>
    
  <% end %>
