
  <div class="sign_up">

  <% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end%>
  </ul>
  <% end%>

  <%= form_for @user do |f| %>
    
      <%= f.label :username  %>
      <%= f.text_field :username  %>
   <br>
      <%= f.label :password  %>
      <%= f.password_field :password  %>
    <br>
      <%= f.label :first_name  %>
      <%= f.text_field :first_name  %>
    <br>
      <%= f.label :last_name  %>
      <%= f.text_field :last_name  %>
    <br>
      <%= f.label :age  %>
      <%= f.number_field :age  %>
    <br>
      <%= f.label :height %> (inches)
      <%= f.number_field :height  %>
    <br>
      <%= f.label :weight  %>
      <%= f.number_field :weight  %>
    <br>
    <%= f.label :gender  %>
    <%= f.select :gender, ['Male','Female'], :prompt => 'Select One' %>
    <br>
      <%= f.label :activity  %>
      <%= f.select :activity, ['Sedentary', 'Lightly Active', 'Moderately Active', 'Very Active', 'Extremely Active'], :prompt => 'Select One' , class: 'round'%>
    <br>
      <%= f.label :goal_id %>
      <%= f.collection_select :goal_id, @goals, :id, :name, :prompt => 'Select One' , class: 'round' %>
    <br>
      <%= f.hidden_field :image, value: "https://cdn.onlinewebfonts.com/svg/img_534267.png" %>
      <br>
    
    <%= f.submit "Sign Up", class: "btn btn-primary btn-block btn-large"%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <% end %>

  </div>
