<%= button_to "Delete Account", user_path(@user), method: :delete  %>
<%= button_to "Edit Account", edit_user_path(@user), method: :get  %>

<%= image_tag url_for(@user.image) %>

<h1> <%= @user.full_name %> </h1>
<h3>Goal: <%= @user.goal.name %> </h3>

<br>
<li> Age: <%= @user.age %> </li>
<li> Height: <%= @user.height %> </li>
<li> Weight: <%= @user.weight %> </li>
<li> Gender: <%= @user.gender %> </li>
<li> Activity: <%= @user.activity %> </li>

<br>

<h3><%= link_to "Check Out Your Recommended Workouts", goal_workout_path(@current_user.goal.goal_workouts) %> </h3>

<br>

<h3> ACE Recommended Lifestyle: </h3>
<li> <%= link_to @user.goal.diet.name, diet_path(@user.goal.diet) %> </li>

<br>

<h3>My Current Lifestyle: </h3>
<% if @user.find_current_diet_plan%>
<li><%= link_to @user.find_current_diet_plan.diet.name, diet_path(@user.find_current_diet_plan.diet)%></li>
<br>
<h3>Change Current Lifestyle:</h3>
<%= render "form" %>
<%else%>
 <%= "You have no other lifestyle plan. Try the recommended diet or choose a different lifestyle plan." %>
 <%= render "form" %>
<%end%> 
<br>











<br>
<br>
<br>
<br>

