
<div class = "user_profile">
<%= image_tag url_for(@user.image), class: 'prof_pic' %>

<br>
<br>
<h1> <%= @user.full_name %> </h1>


<br>
Age: <%= @user.age %> 
<br>
Height: <%= @user.height %> inches
<br>
Weight: <%= @user.weight %> lbs
<br>
Gender: <%= @user.gender %> 
<br>
Activity: <%= @user.activity %> 

<br>

<br>

<h4><%= @user.goal.name %></h4>
<br>
<h5>Recommended Lifestyle </h5>

<%= link_to @user.goal.diet.name, diet_path(@user.goal.diet) %> 
<br>
<br>
<h5>My Lifestyle </h5>
<% if @user.find_current_diet_plan%>
<%= link_to @user.find_current_diet_plan.diet.name, diet_path(@user.find_current_diet_plan.diet)%>
<br>
<br>
<br>
<br>
<br>
<br>

<%= render "form" %>
<%else%>
<div class = "recommended">
<%= "Want a different lifestyle plan?" %>
</div>
 <%= render "form" %>
<%end%> 
<br>
<br>
<br>











<br>
<br>
<br>
<br>
</div>
