<%= button_to "Delete Account", user_path(@user), method: :delete  %>
<%= button_to "Edit Account", edit_user_path(@user), method: :get  %>

<%= image_tag url_for(@user.image) %>

<h3> <%= @user.full_name %> </h3>


<li> Age: <%= @user.age %> </li>
<li> Height: <%= @user.height %> </li>
<li> Weight: <%= @user.weight %> </li>
<li> Gender: <%= @user.gender %> </li>
<li> Activity: <%= @user.activity %> </li>
<li> Goal: <%= @user.goal.name %> </li>
<br>

Recommended Calories: <%= @user.cal_goals.round() %>
<br>
Daily Water Intake: <%= @user.water.round() %> cups/day

<br>

<h5> ACE Recommended Lifestyle: </h5>
<li> <%= link_to @user.goal.diet.name, diet_path(@user.goal.diet) %> </li>

<br>

<h5>My Current Lifestyle: </h5>
<% if @user.find_current_diet_plan%>
<li><%= link_to @user.find_current_diet_plan.diet.name, diet_path(@user.find_current_diet_plan.diet)%></li>
<br>
<h5>Change Current Lifestyle:</h5>
<%= render "form" %>
<%else%>
 <%= "You have no other lifestyle plan. Try the recommended diet or choose a different lifestyle plan." %>
 <%= render "form" %>
<%end%> 
<br>
<h5><%= link_to "Check Out Your Recommended Workouts", goal_workout_path(@current_user.goal.goal_workouts) %> </h5>









<br>
<br>
<br>
<br>

