<h3> <%= @user.full_name %> </h3>

<li> Age: <%= @user.age %> </li>
<li> Height: <%= @user.height %> </li>
<li> Weight: <%= @user.weight %> </li>
<li> Gender: <%= @user.gender %> </li>
<li> Activity: <%= @user.activity %> </li>