<h3 class= "work_title"> <%= @goal.name %> Workouts</h3> 
<br>
<br>   
    
<div class="slider">

<% @goal.workouts.each do |workout| %>

  <div class="slide" id="slide-1">
  <img class= 'workout_image' src="<%= workout.image%>" >
  <br>
  <div class= "workout_title">
  <br>
  <h4><%= workout.name %></h4>
  </div>
  
    <br>
    <%= workout.description %> 
    <br>
    <br>
     <%= workout.detail %> 
    <br>
    
    <br>
    <%= link_to "Correct Form Video", workout.video, :target => "_blank" %> 
  
  </div>
  
<% end %>
</div>
<br>
<br>
<br>
<br>