<h3 class= "work_title"> Workouts for <%= @goal.name %> </h3> 
<br>
<br>   
    
<div class="slider">
<% @goal.workouts.each do |workout| %>
  <div class="slide" id="slide-1">

  <%= workout.name %>
    <br>
    Description: <%= workout.description %> 
    <br>
    Details: <%= workout.detail %> 
    <br>
    <img class= 'workout_image' src="<%= workout.image%>" >
    <br>
    <%= link_to "Correct Form and Workout Video", workout.video, :target => "_blank" %> 
  
  </div>
  
<% end %>
</div>
