<h3><%= @diet.name %></h3>

<li> Description: <%= @diet.description %> </li>
<li> Restrictions: <%= @diet.restriction %> </li>
<li> Recommended Calories: <%= @current_user.cal_goals.round() %> </li>
<li> Daily Water Intake: <%= @current_user.water.round() %> cups per day </li>
