<h3><%= @diet.name %></h3>

<li> Description: <%= @diet.description %> </li>
<li> Restrictions: <%= @diet.restriction %> </li>
<li> Calories: <%= @diet.calorie %> </li>
<li> Water Intake: <%= @diet.water %> </li>
