<div class= "diet">
<h1><%= @diet.name %></h1>

<%= @diet.description %> 
<br>
<br>
Restrictions: <%= @diet.restriction %> 
<br>
<br>
<div class= "calories">
Daily Caloric Intake
<br>
<div class= "caloric">
<%= @current_user.cal_goals.round() %> 
</div>
</div>

<div class= "water">
 Daily Water Intake 
 <br>
 <div class= "wat">
 <%= @current_user.water.round() %> cups
 </div>
</div>
<br>
<br>
</div>
<br>
<br>
<br>

  <%= image_tag ("veg.gif"), class: "veg"%>